<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Add New Trade</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/trade/validate}" th:object="${trade}" method="post" class="form-horizontal" style="width: 100%">
			<label for="account">account</label>
        	<input id="account" type="text" placeholder="account" th:field="*{account}" required>
        
            <label for="type">type</label>
            <input id="type" type="text" placeholder="type" th:field="*{type}">
            
			<label for="buyQuantity">buyQuantity</label>
            <input id="buyQuantity" type="text" placeholder="buyQuantity" th:field="*{buyQuantity}">
            
            <input class="btn btn-primary btn-sm" type="submit" value="Add Trade"/>
            <a class="btn btn-danger btn-sm" th:href="@{/trade/list}">Cancel</a>
		</form>
	</div>

</div>
</body>
</html>